body, div, h1, h3, p { font-family: 'trebuchet ms', verdana, arial; margin: 0; padding: 0 }
body {font-size: 10pt; }
h1 { padding: 15px; font-size: large; background-color: #06b; color: white; }
h2 { padding: 10px; background-color: #eee; color: black; margin: 0; font-size: small; font-weight: normal }

label { margin-top: 1em; display: block; }
input { margin: 1em 1em 1em 0; width: 9em; }
textarea, #result { width: 80%; height: 20em; display: block; }
#preview { border: 1px solid black; }
form { padding: 2em; }

#docs li.method {
	margin: 2em 1em;
	padding-bottom: 1em;
	border-bottom: 2px solid;
}

#docs span.tooltip {
	border-bottom: 1px dashed #666;
}

#docs a.name {
	font-weight: bold;
	text-decoration: none;
}

#docs span.arg-type {
	color: #666;
}

#docs span.fn {
	font-family: Courier;
}

#tooltip {
	background: #fff;
	border: 1px solid black;
	padding: 4px;
	max-width: 25em;
	text-align: left;
}

#tooltip h3 {
	font-weight: normal;
	font-size: 12px;
	font-family: Arial;
	margin: 0;
}

#docs div.more {
	margin-left: 2em;
	margin-top: 5px;
}

#docs div.example {
	border-top: 1px solid #DDD;
	margin-top: 15px;
}

#docs h3 {
	margin: 1em 0 0;
}

#docs div.example h3 {
	margin-bottom: .5em;
}

#docs div.example pre {
	color: #000;
	background: #EEE;
	padding: 5px;
	font-size: 0.8em;
}

#docs ul.options {
	margin: 0 0 1em;
}